.projects {
    font-family: 'Montserrat', sans-serif;
    background: var(--c-bg);
    
    border-left: 1px solid darkgray;
    position: relative;
    height: 100%;
    width: 100%;
    
    scrollbar-width: none;
    overflow: scroll;
    
    
}

.projects_container {
    
    overflow: scroll;
    z-index: 1;
    
    scrollbar-width: none;
    transition: var(--transition);
    transform-origin: right top;
    transform: scale(0);
    //padding-bottom: 50px;
    //height: calc(100%-40px);
}


.projects-btn-container {
    display: flex;
    position: sticky;
    bottom: 0px;
    left: 0px;
    margin-left: 10px;
    background-color: var(--c-bg);

}

.logo_container2{
    margin-left: 10px;
    width: auto;
    height: 40px;
    background-color: var(--c-bg);
    transition: var(--transition);
    position: sticky;
    top: 0px;
    left: 10px;
    z-index: 2;
    transform: scale(0);
   
    // position: absolute;
    // top: 0px;
    // right: 20px;
}

.logo2 {
    
    margin: 0;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.16em;
   
}
@media screen and (max-width: 700px){
.logo2 {
    font-size: 1.3rem;
}
}